<%% title(@<%= file_name %>.to_s, <%= file_name %>_breadcrumbs) %>

<% for attribute in attributes -%>
<p>
  <b><%%= t('activerecord.attributes.<%= file_name %>.<%= attribute.name %>') %>:</b>
<%- if listifies.include? attribute.name -%>
  <%%= <%= class_name %>.<%= attribute.name %>_label(@<%= singular_name %>.<%= attribute.name %>) %>
<%- else -%>
  <%%=h @<%= singular_name %>.<%= attribute.name %> %>
<%- end -%>
</p>

<%- end -%>

<p>
  <%%= link_to t('standard.cmds.back'), <%= path_of_with_belongsto_if_any(:extraargs => (has_searchbar? ? ":q => @#{file_name}.#{searchbar}.first" : nil)) %> %>

  <span class="decent">
    <%%= t('standard.labels.or') %>
    <%%= link_to t('standard.cmds.edit'), <%= path_of_with_belongsto_if_any(:method => :edit) %> %>
  </span>
</p>