<h1><%%= t('<%= file_name %>.edit.title') %></h1>

<%% form_for(@<%= singular_name %>, :url => <%= path_of_with_parent_if_any(:show) %>,
  :html => { :multipart => true }) do |f| %>
    <%%= f.error_messages %>

    <%%= render :partial => 'form', :locals => { :f => f } %>

    <p>
      <%%= f.submit t('standard.cmds.update') %>

      <span class="decent">
        <%%= t('standard.labels.or') %>
        <%%= link_to t('standard.cmds.show'), <%= path_of_with_parent_if_any(:show) %> %> |
        <%%= link_to t('standard.cmds.back'), <%= path_of_with_parent_if_any %> %>
      </span>
    </p>
<%% end %>
